// contem os seletores globais
*{
    padding: 0px;
    padding:0px;

}



//*********************************
// margens verticais
.margen-vert-5{padding:5px 0px;}
.margen-vert-10{padding:10px 0px;}
.margen-vert-15{padding:15px 0px;}
.margen-vert-20{padding:20px 0px;}
.margen-vert-25{padding:25px 0px;}
.margen-vert-30{padding:30px 0px;}
.margen-vert-35{padding:35px 0px;}
.margen-vert-40{padding:40px 0px;}

// margens horizontais
.margen-horiz-5{padding:0px 5px;}
.margen-horiz-10{padding:0px 10px;}
.margen-horiz-15{padding:0px 15px;} 
.margen-horiz-20{padding:0px 20px;}
.margen-horiz-25{padding:0px 25px;}
.margen-horiz-30{padding:0px 30px;}
.margen-horiz-35{padding:0px 35px;}
.margen-horiz-40{padding:0px 40px;}


// marges totais
.margen-5{padding:5px;}
.margen-10{padding:10px;}
.margen-15{padding:15px;}
.margen-20{padding:20px;}
.margen-25{padding:25px;}
.margen-30{padding:30px;}
.margen-35{padding:35px;}
.margen-40{padding:40px;}



//********************************************
     //PADDING

//   verticais
.pad-vert-5{padding:5px 0px;}
.pad-vert-10{padding:10px 0px;}
.pad-vert-15{padding:15px 0px;}
.pad-vert-20{padding:20px 0px;}
.pad-vert-25{padding:25px 0px;}
.pad-vert-30{padding:30px 0px;}
.pad-vert-35{padding:35px 0px;}
.pad-vert-40{padding:40px 0px;}


//   horizintal
.pad-horiz-5{padding: 0px 5px;}
.pad-horiz-10{padding: 0px 10px;}
.pad-horiz-15{padding: 0px 15px;}
.pad-horiz-20{padding: 0px 20px;}
.pad-horiz-25{padding: 0px 25px;}
.pad-horiz-30{padding: 0px 30px;}
.pad-horiz-35{padding: 0px 35px;}
.pad-horiz-40{padding: 0px 40px;}

 //   esquerda
 .pad-esque-5{padding-left: 5px;}
 .pad-esque-10{padding-left:10px;}
 .pad-esque-15{padding-left:15px;}
 .pad-esque-20{padding-left:20px;}

 //   direita
 .pad-direi-5{padding-right: 5px;}
 .pad-direi-10{padding-right: 10px;}
 .pad-direi-15{padding-right: 15px;}
 .pad-direi-20{padding-right: 20px;}
 
//totais
.pad-5{padding: 5px;}
.pad-10{padding: 10px;}
.pad-15{padding: 15px;}
.pad-20{padding: 20px;}
.pad-30{padding: 30px;}
.pad-25{padding: 25px;}
.pad-35{padding: 35px;}
.pad-40{padding: 40px;}









